EXTERNALWEBHOST=
EXTERNALWEBPORT=

MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_SERVICE_USER=
MONGO_SERVICE_PASSWORD=
MONGO_SERVICE_HOST=
MONGO_SERVICE_DB=
MONGO_PORT=

JWT_SECRET=